.wrapper {
   border-top: 1px solid #e3e3e4;
}

.label {
   padding: 8px;
   font-size: 1.4rem;
   font-weight: 600;
}

.account-wrapper {
   display: flex;
   padding: 10px;
   cursor: pointer;
}

.account-avatar {
   width: 35px;
   height: 35px;
   border-radius: 50%;
   object-fit: cover;
}
.account-info {
   flex: 1;
   margin-left: 20px;
}
.nickname {
   margin-top: 5px;
   font-size: 1.6rem;
   color: #161823;
   line-height: 1;
}
.check {
   margin-left: 6px;
   font-size: 1.4rem;
   color: #20d5ec;
}
.name {
   font-size: 1.2rem;
   opacity: #161823bf;
}
.more-btn {
   padding: 8px;
   font-size: 1.4rem;
   color: var(--primary);
   font-weight: 700;
}
