.information-container {
   position: relative;
   padding-top: 16px;
   padding-left: 8px;
   width: 250px;
}
.create-effect {
   padding-right: 8px;
   height: 50px;
   text-align: center;
   position: relative;
   margin-bottom: 30px;
}
.effect-link {
   display: flex;
   align-items: center;
   justify-content: center;
}
.effect-image {
   height: 52px;
   border-radius: 8px;
}
.effect-text-container {
   position: absolute;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   max-width: 200px;
}
.effect-icon {
   margin-right: 9px;
   width: 19px;
   height: 19px;
   margin-top: 2px;
}
.effect-text {
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: 600;
   font-size: 16px;
   line-height: 21px;
   letter-spacing: 0.03px;
   overflow: hidden;
}
.information-link {
   margin-bottom: 8px;
}
.style-link {
   display: inline-block;
   font-weight: 300;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.161px;
   margin-right: 6px;
   margin-top: 5px;
   color: rgba(22, 24, 35, 0.5);
   &:hover {
      text-decoration: underline;
   }
}
.span-copyright {
   display: inline-block;
   font-weight: 600;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.161px;
   margin-right: 6px;
   margin-top: 5px;
}
