@import 'normalize-css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500&family=Poppins:wght@200;300;400;500&display=swap');

:root {
   --primary: #fe2c55;
   --black: #000;
   --text-color: #333;
   --white: #fff;

   // Default layout
   --default-layout-header-height: 60px;
   --default-layout-width: 1150px;
   --default-layout-space: 24px;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
html {
   font-size: 62.5%;
}

body {
   font-family: var(--font-family);
   font-size: 1.6rem;
   line-height: 1.5;
   text-rendering: optimizespeed;
   overflow-y: overlay;
}
button,
input,
[tabindex] {
   outline: none;
   border: none;
}
a {
   color: var(--text-color);
   text-decoration: none;
}

body {
   .tippy-box {
      background-color: rgba(84, 84, 84, 0.92);
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.2rem;
      border-radius: 8px;
   }

   .tippy-arrow {
      color: rgba(84, 84, 84, 0.92);
   }
}
